@import "tailwindcss";

@theme {
  --color-brand-electric: #1da1ff;
  --color-brand-deep: #003cff;
  --color-brand-neon: #b026ff;
  --color-brand-dark: #5b00d6;

  --color-bg-main: #050816;
  --color-bg-secondary: #0f172a;
  --color-bg-card: rgba(255, 255, 255, 0.05);

  --color-text-primary: #ffffff;
  --color-text-secondary: #94a3b8;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-space-grotesk);

  --animate-blob: blob 7s infinite;
  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer base {
  body {
    background-color: var(--color-bg-main);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
  }
}
